@font-face {
    font-family: Outfit;
    src: url(font/Outfit-VariableFont_wght.ttf);
}

html{
    height: 100%;
}

body{
    background-color: hsl(217, 54%, 11%);
    font-family: Outfit;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin:0;
}

.description h1{
    color: hsl(0, 0%, 100%);
}

.footer span{
    color: hsl(0, 0%, 100%);
}

.main_card p, .attribution p{
    color: hsl(215, 51%, 70%);
}


.main_card{
    background-color: hsl(216, 50%, 16%) ;
    height: auto;
    width: 330px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.main_img{
    border-radius: 10px;
    margin-top: 15px;
    width: 300px;
    height: 300px;
    background-image: url("images/image-equilibrium.jpg");
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_img_overlay{
    background-color: rgba(0,255,247,0.5);
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s, 0.3s;
}

.main_text{
    max-width: 330px;
    margin-left:15px;
    margin-right: 15px;
}

.description h1, .description p, span{
    transition-property: color;
    transition-duration: 0.3s;
}

.description h1{
    font-size: 1.4em;
}

.description p{
    font-size: 1.1em;
}

span, .eth_value p{
    color: hsl(178, 100%, 50%);
}

.sub_text{
    display: flex;
    justify-content: space-between;
}

.eth_value{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.eth_value img{
    width: auto;
    height: auto;
}

.eth_value p{
    margin-left:10px;
}

.eth_time img{
    width: auto;
    height:auto;
    margin-right: 10px;
}

.eth_time{
    display: flex;
    align-items: center;
}

.main_text hr{
    width: 100%;
    border:1px solid hsl(215, 32%, 27%);
}

.footer img{
    width: 2em;
    height: 2em;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: left;
}

.footer img{
    margin-right: 10px;
}

/* Hover */

.description h1:hover, .footer span:hover{
    color:hsl(178, 100%, 50%);
}

.main_img_overlay:hover{
    opacity: 1;
}