@font-face {
    font-family: Outfit;
    src: url(font/Outfit-VariableFont_wght.ttf);
}

body{
    background-color: hsl(217, 54%, 11%);
    font-family: Outfit;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

h1, #name{
    color: hsl(0, 0%, 100%);
}

p{
    color:hsl(215, 51%, 70%);
}

#card_footer img{
    width: 10px;
    height: 10px;
}

#eth{
    color:hsl(178, 100%, 50%);
}

#main_card{
    width: 330px;
    height: 600px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main_card img{
    border-radius: 5px;
    margin-top: 15px;
    width: 300px;
    height: 300px;
}

#text{
    margin-left: 15px;
    margin-right: 15px;
}

#card_footer{
    display: flex;
    justify-content: space-between;
}

.attribution{
    font-size: 11px; 
    text-align: center;
    color: hsl(228, 45%, 44%);
}